@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);

$grey-light: hsl(217, 12%, 63%);
$grey: hsl(216, 12%, 54%);

$blue-light: lighten(hsl(213, 19%, 18%), 4);
$blue: hsl(213, 19%, 18%);
$blue-dark: hsl(216, 12%, 8%);

@mixin card {
	max-width: 350px;
	color: $white;
	background: linear-gradient(180deg, $blue 0%, darken($blue, 8) 100%);
	border-radius: 30px;
	overflow: hidden;
}

body {
	background: $blue-dark url('../images/desktop-thank-you-state.jpg') no-repeat 100px top;
	background: $blue-dark;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Overpass', sans-serif;
}

.rating {
	opacity: 0;
	position: relative;
	margin-top: 195px;
	font-size: 15px;
	line-height: 1.5;
	transform-origin: 50% 50% -10px;
	transform-style: preserve-3d;
	margin-inline: 15px;
	transform: translate3D(0, 40px, 0) perspective(5000px) rotate3d(0, 1, 0, 0);

	&.visible {
		opacity: 1;
		transform: translate3D(0, 0, 0) perspective(5000px) rotate3d(0, 1, 0, 0);
		transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity ease 1s;
	}
	&.turned {
		transform: perspective(5000px) rotate3d(0, 1, 0, 180deg);
		transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
	}

	&--first-state {
		backface-visibility: hidden;
		@include card;
		transition: 1s;
		height: 100%;
		padding: 30px;
	}
	&--second-state {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include card;
		transform: perspective(5000px) rotate3d(0, 1, 0, 180deg);
		backface-visibility: hidden;
		transition: 1s;
		margin: 0;
		position: absolute;
		top: 0;
		height: 100%;
		padding-inline: 30px;
		& * {
			margin-inline: 30px;
		}
	}

	///////////////////////////////////////
	//             BOTH STATE            //
	///////////////////////////////////////

	&__title {
		font-size: 28px;
		margin-bottom: 6px;
		font-weight: 700;
	}
	&__text {
		color: $grey;
	}

	///////////////////////////////////////
	//            FIRST STATE            //
	///////////////////////////////////////

	&__star {
		padding: 15px;
		aspect-ratio: 1;
		background-color: $blue-light;
		border-radius: 50%;
		margin-bottom: 25px;
	}

	&__numbers {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		margin-bottom: 33px;
	}
	&__number {
		font-family: 'Overpass', sans-serif;
		background-color: $blue-light;
		width: 50px;
		padding: 2px 0 0 1px;
		border-radius: 50%;
		font-size: 17px;
		aspect-ratio: 1;
		border: none;
		color: $grey;
		cursor: pointer;
		&:hover {
			color: $white;
			background-color: $orange;
		}
		&.selected {
			color: $white;
			background-color: $grey;
		}
		@media screen and (max-width: 400px) {
			width: 11vw;
		}
	}
	&__submit {
		font-family: 'Overpass', sans-serif;
		background-color: $orange;
		text-transform: uppercase;
		width: 100%;
		height: 45px;
		padding-top: 5px;
		border-radius: 50px;
		font-size: 15px;
		letter-spacing: 2.5px;
		border: none;
		color: $white;
		cursor: pointer;
		&:hover {
			background-color: $white;
			color: $orange;
		}
		&.disabled {
			background-color: $grey;
			color: $white;
		}
	}

	///////////////////////////////////////
	//           SECOND STATE            //
	///////////////////////////////////////

	&__illustration {
		margin-top: 45px;
		margin-bottom: 35px;
	}
	&__rate {
		color: $orange;
		background-color: $blue-light;
		padding: 3px 20px 1px 20px;
		border-radius: 20px;
		margin-bottom: 35px;
	}
}
.attribution {
	font-family: 'Overpass', sans-serif;
	color: $blue-light;
	margin-top: auto;
	margin-bottom: 30px;
	padding: 25px 25px 0 25px;
	font-size: 16px;
	& a {
		color: $grey;
		&:hover {
			color: $orange;
		}
	}
}
