@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #121417 url("../images/desktop-thank-you-state.jpg") no-repeat 100px top;
  background: #121417;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.rating {
  opacity: 0;
  position: relative;
  margin-top: 195px;
  font-size: 15px;
  line-height: 1.5;
  transform-origin: 50% 50% -50px;
  transform-style: preserve-3d;
  margin-inline: 15px;
  transform: translate3D(0, 40px, 0) perspective(2500px) rotate3d(0, 1, 0, 0);
}
.rating.visible {
  opacity: 1;
  transform: translate3D(0, 0, 0) perspective(2500px) rotate3d(0, 1, 0, 0);
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity ease 1s;
}
.rating.turned {
  transform: perspective(2500px) rotate3d(0, 1, 0, 180deg);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
.rating--first-state {
  backface-visibility: hidden;
  max-width: 350px;
  color: white;
  background: linear-gradient(180deg, #252d37 0%, #15191e 100%);
  border-radius: 30px;
  overflow: hidden;
  transition: 1s;
  height: 100%;
  padding: 30px;
}
.rating--second-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  color: white;
  background: linear-gradient(180deg, #252d37 0%, #15191e 100%);
  border-radius: 30px;
  overflow: hidden;
  transform: perspective(2500px) rotate3d(0, 1, 0, 180deg);
  backface-visibility: hidden;
  transition: 1s;
  margin: 0;
  position: absolute;
  top: 0;
  height: 100%;
  padding-inline: 30px;
}
.rating--second-state * {
  margin-inline: 30px;
}
.rating__title {
  font-size: 28px;
  margin-bottom: 6px;
  font-weight: 700;
}
.rating__text {
  color: #7c8798;
}
.rating__star {
  padding: 15px;
  aspect-ratio: 1;
  background-color: #2d3743;
  border-radius: 50%;
  margin-bottom: 25px;
}
.rating__numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 33px;
}
.rating input[type=radio] {
  appearance: none;
  margin: 0;
  font-family: inherit;
  color: currentColor;
  width: 50px;
  aspect-ratio: 1;
  border: none;
  color: #7c8798;
  background-color: #2d3743;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .rating input[type=radio] {
    width: 100%;
    margin: 1px;
  }
}
.rating input[type=radio]::before {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  line-height: 2px;
}
.rating input[type=radio]:hover {
  color: white;
  background-color: #fb7413;
}
.rating #one::before {
  content: "1";
}
.rating #two::before {
  content: "2";
}
.rating #three::before {
  content: "3";
}
.rating #four::before {
  content: "4";
}
.rating #five::before {
  content: "5";
}
.rating input[type=radio]:checked {
  color: white;
  background-color: #7c8798;
}
.rating__submit {
  font-family: "Overpass", sans-serif;
  background-color: #fb7413;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  padding-top: 5px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 2.5px;
  border: none;
  color: white;
  cursor: pointer;
}
.rating__submit:hover {
  background-color: white;
  color: #fb7413;
}
.rating__submit.disabled {
  background-color: #7c8798;
  color: white;
}
.rating__illustration {
  margin-top: 45px;
  margin-bottom: 35px;
}
.rating__rate {
  color: #fb7413;
  background-color: #2d3743;
  padding: 3px 20px 1px 20px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.attribution {
  font-family: "Overpass", sans-serif;
  color: #2d3743;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 25px 25px 0 25px;
  font-size: 16px;
}
.attribution a {
  color: #7c8798;
}
.attribution a:hover {
  color: #fb7413;
}
